<div id="banner">
    <table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripción</th>
      <th>Tipo</th>
      <th>Monto</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2025-06-01</td>
      <td>Depósito inicial</td>
      <td class="deposito">Depósito</td>
      <td class="deposito">+ $1,000.00</td>
      <td>$1,000.00</td>
    </tr>
    <tr>
      <td>2025-06-02</td>
      <td>Supermercado</td>
      <td class="retiro">Retiro</td>
      <td class="retiro">- $85.75</td>
      <td>$914.25</td>
    </tr>
    <tr>
      <td>2025-06-03</td>
      <td>Pago suscripción Spotify</td>
      <td class="retiro">Retiro</td>
      <td class="retiro">- $7.99</td>
      <td>$906.26</td>
    </tr>
    <tr>
      <td>2025-06-04</td>
      <td>Transferencia recibida</td>
      <td class="deposito">Depósito</td>
      <td class="deposito">+ $150.00</td>
      <td>$1,056.26</td>
    </tr>
    <tr>
      <td>2025-06-06</td>
      <td>Retiros de ahorro</td>
      <td class="retiro">Retiro</td>
      <td class="retiro">- $200.00</td>
      <td>$856.26</td>
    </tr>
  </tbody>
</table>

</div>